<body>

   

<!-- <div class="container">
    <section id="products"> -->
      <div class="row">
          <br><br><br><br> 
          
        <div class="col-md-3">
          <div class="thumbnail">
          <img src="https://32meet28.files.wordpress.com/2012/12/all-movies-collage.jpg" width="500px" height="800px">
            <div class="caption">
              <h6><button type="button" class="btn btn-info"  [routerLink]="['/movies']">Movies</button> </h6>
             
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
            <img src="https://thejrshow.files.wordpress.com/2014/01/tv.jpg?w=1200" width="500px" height="800px">
              <div class="caption">
                <h6><button type="button" class="btn btn-info"   [routerLink]="['/tvseries']">TV Series</button> </h6>
              
              </div>
            </div>
          </div>

      </div>
    <!-- </section>
  </div> -->
</body>